$color-white: #fff;
$color-font: #fff;

$bg-color-dark: #202b3b;
$color-active: #202b3b;
$color-inactive: #8893a3;
$color-active-icon: rgb(0, 17, 255);
$color-inactive-icon: rgb(46, 93, 179);

// $color-font-hover: #9D8665;
// $color-font-active-link: #7E6C51;

// $content-width: 1440px;
// $tablet-big-width: 1024px;
// $tablet-width: 768px;
// $mobile-width: 420px;
