$color-white: #fff;
$color-font: #fff;

$bg-color-dark: #202b3b;
$color-active: #202b3b;
$color-inactive: #8893a3;
$color-active-icon: rgb(0, 17, 255);
$color-inactive-icon: rgb(46, 93, 179);
$color-deleted-task: red;

// $content-width: 1440px;
$desktop-width: 1200px;
$tablet-big-width: 1024px;
$tablet-width: 950px;
$tablet-nostandart-width: 700px;
// $tablet-width: 768px;
$mobile-width: 425px;
