@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;300;400;500&display=swap");
@import "./utils.scss";

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  @extend %font-primary;
  @include media-tablet-big {
    font-size: 9px;
  }
}

body {
  box-sizing: border-box;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.app {
  height: 100vh;
  display: flex;
  &.none {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
  }
  &.thunderstorm {
    background-image: linear-gradient(rgba(65, 65, 65, 0.8), rgba(65, 65, 65, 0.8)),
      url(../../public/assets/img/thunderstorm.jpg);
  }
  &.drizzle {
    background-image: linear-gradient(rgba(65, 65, 65, 0.8), rgba(65, 65, 65, 0.8)),
      url(../../public/assets/img/drizzle.png);
  }
  &.rain {
    background-image: linear-gradient(rgba(65, 65, 65, 0.8), rgba(65, 65, 65, 0.8)),
      url(../../public/assets/img/rain.jpg);
  }
  &.snow {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
      url(../../public/assets/img/snow.jpg);
  }
  &.mist {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
      url(../../public/assets/img/fog_mist.jpg);
  }
  &.sand {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
      url(../../public/assets/img/sand_dust.jpg);
  }
  &.wind {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
      url(../../public/assets/img/wind.jpg);
  }
  &.tornado {
    background-image: linear-gradient(rgba(65, 65, 65, 0.8), rgba(65, 65, 65, 0.8)),
      url(../../public/assets/img/tornado.jpg);
  }
  &.clear {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
      url(../../public/assets/img/clear.jpg);
  }
  &.cloudy {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
      url(../../public/assets/img/clouds.jpg);
  }
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 1200px;
  height: 750px;
  @include media-tablet-big {
    width: 980px;
    height: calc(100vh - 40px);
  }
  @include media-tablet {
    height: 100vh;
    width: 100vw;
  }
  @include media-mobile {
    width: 100vw;
    height: auto;
  }
  box-shadow: 0 0 20px black;
  &.none {
    background-image: linear-gradient(rgba(0, 183, 255, 0.4), rgba(0, 183, 255, 0.2));
  }
  &.thunderstorm {
    background-image: url(../../public/assets/img/thunderstorm.jpg);
  }
  &.drizzle {
    background-image: url(../../public/assets/img/drizzle.png);
  }
  &.rain {
    background-image: url(../../public/assets/img/rain.jpg);
  }
  &.snow {
    background-image: url(../../public/assets/img/snow.jpg);
  }
  &.mist {
    background-image: url(../../public/assets/img/fog_mist.jpg);
  }
  &.sand {
    background-image: url(../../public/assets/img/sand_dust.jpg);
  }
  &.wind {
    background-image: url(../../public/assets/img/wind.jpg);
  }
  &.tornado {
    background-image: url(../../public/assets/img/tornado.jpg);
  }
  &.clear {
    background-image: url(../../public/assets/img/clear.jpg);
  }
  &.cloudy {
    background-image: url(../../public/assets/img/clouds.jpg);
  }
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  padding: 0 100px;
  
  @include media-tablet-big {
    padding: 0 60px;
  }
  @include media-mobile {
    padding: 0 10px;
  }
  &-head {
    padding: 20px 100px 0 100px;
    @include media-tablet-big {
      padding: 20px 60px 0 60px;
    }
    @include media-mobile {
      padding: 10px 10px 0 10px;
    }
  }
  &-todo {
    display: flex;
    flex: 1;
    @include media-mobile {
      display: block;
    }
  }
}

.head-panel {
  display: flex;
  justify-content: space-between;
  @include media-tablet {
    flex-wrap: wrap;
  }
}

.notification-wrapper {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1500;
  @include media-mobile {
    left: 10px;
    right: 10px;
    top: 10px;
  }
}
