@import "./utils.scss";

.place-wrapper {
  // padding-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.city,
.country {
  text-align: right;
  color: $color-font;
  @extend %shadow-text;
}

.city {
  @include font(3.5rem, 500);
}

.country {
  margin-top: 5px;
  @include font(2rem, 300);
}
