@import "./utils.scss";

.place-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @include media-mobile {
    margin-top:10px;
  }
}

.city,
.country {
  text-align: right;
  color: $color-font;
  @extend %shadow-text;
  @include media-mobile {
    text-align: left;
  }
}

.city {
  @include font(3.5rem, 500);
}

.country {
  margin-top: 5px;
  @include font(2rem, 300);
}
