@import "./utils.scss";

.task-wrapper {
  padding: 5px 0;
}

.task-row {
  display: flex;
  align-items: center;
}

.menu-wrapper {
  display: flex;
  overflow-x: hidden;
  position: relative;
  width: 100px;
}

.task-time {
  position: absolute;
  padding-top: 3px;
  left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 25px;
  background-color: $bg-color-dark;
  border-radius: 20px;
  @extend %transition;
  @include font(1.2rem, 500);
  &.completed {
    text-decoration: line-through;
    opacity: 0.7;
  }
  &.deleted {
    color: red;
    opacity: 0.5;
  }
  &.opened {
    left: 100px;
  }
}

.task-desc {
  margin-left: 5px;
  transition: 0.2s ease-out;
  @include font(1.5rem, 500);
  &.completed {
    text-decoration: line-through;
    opacity: 0.7;
  }
  &.deleted {
    color: red;
    opacity: 0.5;
  }
  &:hover {
    cursor: pointer;
  }
  &.anim {
    opacity: 0;
  }
  @include media-mobile {
    white-space: nowrap;
    max-width: 70%;
    overflow: scroll;
  }
  &::-webkit-scrollbar {
    @include media-mobile {
      display: none;
    }
  }
}
