@import "./utils.scss";

.todo-panel {
  flex: 1;
  // height: 250px;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include media-mobile {
    height: auto;
  }
}

.todo-panel-header {
  display: flex;
  max-width: max-content;
  padding: 8px 5px 3px;
  border-radius: 20px;
  background-color: rgba(34, 47, 82, 0.5);
  @include font(1.2rem, 300);
  & > * {
    margin: 0 10px;
  }
}

.todo-list {
  margin: 5px 0;
  max-height: 175px;
  overflow-y: auto;
  list-style-type: none;
  /* полоса прокрутки (скроллбар) */
  &::-webkit-scrollbar {
    width: 6px; /* ширина для вертикального скролла */
    height: 6px;
    background-color: #ffffff31;
  }

  /* ползунок скроллбара */
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 9rem;
    // box-shadow: inset 1px 1px 10px #000000;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: white;
  }

  @include media-tablet {
    max-height: 325px;
  }
  @include media-mobile {
    max-height: fit-content;
  }
}

.todo-tasks-count {
  // margin: 0 10px;
  @include font(1.3rem, 500);
}

.edit-panel-wrapper {
  overflow-x: hidden;
}

.todo-edit-panel {
  display: flex;
  position: relative;
  left: -1000px;
  @extend %transition;
  &.opened {
    left: 0px;
  }
  & > * {
    margin: 0 2px;
  }
}

.todo-date,
.todo-time {
  border-radius: 20px;
  padding: 0 12px;
  border: none;
  outline: none;
  @include media-mobile {
    padding: 0 3px;
    width: 33px;
  }
}

.todo-date {
  width: 130px;
  &::-webkit-calendar-picker-indicator {
    margin-left: 5px;
    @include media-mobile {
      margin-left: 2px;
    }
  }
  &::-webkit-datetime-edit {
    @include media-mobile {
      display: none;
    }
  }
}

.todo-time {
  width: 90px;
  &::-webkit-calendar-picker-indicator {
    margin-left: 2px;
    @include media-mobile {
      margin-left: 4px;
    }
  }
  &::-webkit-datetime-edit {
   @include media-mobile {
     display: none;
   }
  }
}

.todo-text {
  flex: 1;
  // position: relative;
  // height: 30px;
  padding: 0 15px;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: #fff;
  @include font(1.5rem, 300);
  @extend %transition;
  &::-webkit-input-placeholder {
    color: $bg-color-dark;
  }
  &:-moz-placeholder {
    color: $bg-color-dark;
  }
  &:-ms-input-placeholder {
    color: $bg-color-dark;
  }
  // box-shadow: 0 0 1px 0 rgba(#000000, 0.15), 0 6px 12px 0 rgba(#000000, 0.15);
}

.todo-accept,
.todo-cancel,
.todo-add {
  display: flex;
  justify-content: space-evenly;
  // flex-direction: column;
  align-items: center;
  padding: 7px 7px;
  color: $color-inactive;
  width: 75px;
  // height: 30px;
  border-radius: 20px;
  background-color: #fff;
  // box-shadow: 0 0 1px 0 rgba(#000000, 0.15), 0 6px 12px 0 rgba(#000000, 0.15);
  @include font(0.9rem, 500);
  &:active {
    color: $color-active;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(0, 0, 0, 0.1);
  }
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.accept-icon,
.cancel-icon,
.add-icon {
  fill: $color-inactive-icon;
}

.todo-accept {
  &:hover {
    cursor: pointer;
  }
  &:active {
    .accept-icon {
      fill: $color-active-icon;
    }
  }
  > span {
    @include media-mobile {
      display: none;
    }
  }
  @include media-mobile {
    width: 33px;
  }
}

.todo-cancel {
  &:hover {
    cursor: pointer;
  }
  &:active {
    .cancel-icon {
      fill: $color-active-icon;
    }
  }
  > span {
    @include media-mobile {
      display: none;
    }
  }
  @include media-mobile {
    width: 33px;
  }
}

.todo-add {
  position: absolute;
  &:hover {
    cursor: pointer;
  }
  &:active {
    .add-icon {
      fill: $color-active-icon;
    }
  }
  &.opened {
    display: none;
  }
}
