@import './utils.scss';

.week-panel {
  display: flex;
  justify-content: space-between;
  @include media-tablet {
    padding: 0 25px;
  }
  @include media-mobile {
    overflow-x: scroll;
    padding: 0;
  }
}
