@import "../../styles/utils.scss";

.search-block {
  margin: 0 5px;
  @include media-tablet {
    width: 100%;
    margin: 0;
  }
}

.search-panel {
  display: flex;
  justify-content: center;
}

.search-wrapper {
  flex: 1;
  position: relative;
}

.search {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 0 0 0 40px;
  border: none;
  border-radius: 99px;
  outline: none;
  background: url(../../../public/assets/svg/search_black.svg) left 10px top 10px / 20px no-repeat;
  background-color: #fff;
  @include font(1.6rem, 300);
  @extend %transition;
  &::-webkit-input-placeholder {
    color: $bg-color-dark;
  }
  &:-moz-placeholder {
    color: $bg-color-dark;
  }
  &:-ms-input-placeholder {
    color: $bg-color-dark;
  }
  box-shadow: 0 0 1px 0 rgba(#42567a, 0.15), 0 6px 12px 0 rgba(#42567a, 0.15);
  &.loading {
    background: url(../../../public/assets/svg/search_black.svg) left 10px top 10px no-repeat,
      url(../../../public/assets/svg/loading.svg) right 5px top 0px no-repeat;
    background-size: 20px, 40px;
    background-color: #fff;
  }
  &.open {
    box-shadow: none;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    outline: none;
  }
}

.search-position {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-left: 5px;
  &:hover {
    cursor: pointer;
  }
  &:active {
    .search-position-icon {
      background-color: $color-active-icon;
    }
    box-shadow: 0 0 1px 0 rgba(#42567a, 0.15), 0 6px 12px 0 rgba(#42567a, 0.15), inset 0 0 5px rgba(0, 0, 0, 0.2),
      inset 0 2px 1px rgba(0, 0, 0, 0.1);
  }
  box-shadow: 0 0 1px 0 rgba(#42567a, 0.15), 0 6px 12px 0 rgba(#42567a, 0.15);

  &-icon {
    height: 20px;
    width: 20px;
    margin: 1px 0 0 8px;
    -webkit-mask-image: url(../../../public/assets/svg/navigation.svg);
    -webkit-mask-size: cover;
    background-color: $color-inactive-icon;
  }
}

.not-found {
  visibility: hidden;
  text-align: center;
  margin: 5px 0 15px 0;
  @include font(0.9rem, 500);
  &.open {
    visibility: visible;
  }
  @include media-mobile {
    max-width: 270px;
  }
}
